@model ScrumBoard.Domain.Project

@{
    ViewBag.Title = "New Project";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new project.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name, "Name")
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Vision, "Vision")
                @Html.TextAreaFor(m => m.Vision)
            </li>
        </ol>
        <input id="submit" type="button" value="Create" />
    </fieldset>
}

@section Scripts {

    <script src="~/Scripts/Utils.js"></script>
    <script src="~/Scripts/ViewModels.js"></script>

    @Scripts.Render("~/bundles/jqueryval")    
    
    <script type="text/javascript">
        
        $(document).ready(function () {

            var view = new ViewModels.Project.NewViewModel({
                apiPostUrl: '/api/project',
                successRedirectUrl: '@Url.Action("Dashboard")' + '/'
            });
                       
        });
    </script>
}
