@model ScrumBoard.Domain.Project

@{
    ViewBag.Title = "New Project";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new project.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name, "Name")
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Vision, "Vision")
                @Html.TextAreaFor(m => m.Vision)
            </li>
        </ol>
        <input id="submit" type="button" value="Create" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('#submit').click(function () {

                var form = $('form');
                
                //if (!form.valid()) return false;

                var data = form.serialize();

                $.ajax({
                    type: 'POST',
                    data: data,
                    url: '/api/project',
                    accepts: 'JSON',
                    context: this
                })
               .success(function (result) {
                   window.location = '@Url.Action("Dashboard")' + '/' + result.Name;
               })
               .fail(function (jqXHR, textStatus, errorThrown) {
                   alert(textStatus);
               });

                return false;                
            });
        });
    </script>
}
